:root{
    --fontsmall: clamp(10px, 0.8vw, 3rem);
    --fontmedium: clamp(15px, 1vw, 5rem);
    --fontlarge: clamp(18px, 1.2vw, 7rem);
    --padlittle: clamp(5px, 0.3vw, 15px);
    --padmedium: clamp(10px, 0.5vw, 20px);
    --padlarge: clamp(15px, 1vw, 50px);
    --gap: clamp(0.5rem, 0.5vw, 1rem);
    --gaplarge: clamp(1rem, 1vw, 2rem);
}
::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #FFFFFF;
    border-radius: 5px;
}
*{
    padding: 0;
    margin: 0;
    line-height: 100%;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
    transition: all 0.2s ease;
}
body{
    background: url(/images/blurred-bg-image.png);
    color: #FFFFFF;
    padding: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* OUTLINE */
.outline {
    position: absolute;
    height: calc(100vh - 40px);
    width: calc(100vw - 40px);
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 20px;
    z-index: 2;
    display: flex;
    pointer-events: none;
}
  
.outline>span:first-child {
    position: absolute;
    height: 25px;
    width: 25px;
    right: 0;
    top: 0;
    box-shadow: inset -1px 1px 0 0 rgba(255, 255, 255, 0.07);
}
  
.outline>span:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    box-shadow: inset 1px 1px 0 0 #00d9b24d;
}
  
.outline>span:nth-child(3) {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 25px;
    width: 25px;
    box-shadow: inset -1px -1px 0 0 #00d9b233;
}
  
.outline>span:nth-child(4) {
    position: absolute;
    top: 25px;
    right: 0;
    height: calc(100% - 50px);
    width: 1px;
    background-image: linear-gradient(to top, #00d9b233, rgba(255, 255, 255, 0.07) 50%)
}
  
.outline>span:nth-child(5) {
    position: absolute;
    top: 0;
    left: 25px;
    height: 1px;
    width: calc(100% - 50px);
    background-image: linear-gradient(to right, #00d9b24d, rgba(255, 255, 255, 0.07) 50%)
}
  
.outline::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 25px;  
    width: 85%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.07), #00d9b233);
}
  
.outline::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 0;
    width: 1px;
    height: 85%;
    background-image: linear-gradient(to top, transparent, rgba(255, 255, 255, 0.07), #00d9b24d);
}
/* GENERAL STYLES */
.grey{
    color: rgba(255, 255, 255, 0.46);
}
.pointer{
    cursor: pointer;
}
.small{
    color: rgba(255, 255, 255, 0.3);
    font-size: var(--fontsmall);
    font-weight: 500;
}
.bold{
    font-weight: 700;
    font-size: var(--fontmedium);
    line-height: 100%;
}
.dot{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.46);
    margin: 0 0.5rem;
}
.container{
    width: 95vw;
    margin: auto;
}
/* Header Styling */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap);
}
.logo{
    width: 2vw;
}
.logo-container{
    display: flex;
    align-items: center;
    gap: var(--gap);
}
.logo-text{
    font-size: var(--fontmedium);
    line-height: 120%;
}
.logo-text span{
    font-size: var(--fontsmall);
}
.duty-container{
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background: rgba(255, 255, 255, 0.03);
    height: max-content;
}
.duty{
    background: linear-gradient(0deg, rgba(101, 255, 144, 0.25), rgba(101, 255, 144, 0.25)),
                linear-gradient(0deg, rgba(101, 255, 144, 0.1), rgba(101, 255, 144, 0.1));
    border: 1px solid rgba(101, 255, 144, 0.25);
    padding: var(--padlittle);
    font-size: var(--fontsmall);
}
.duty-name{
    display: flex;
    align-items: center;
    font-size: clamp(13px, 0.9vw, 4rem);
    margin: 0 2rem;
}
.icon-cont{
    display: flex;
    align-items: center;
    gap: 0.2rem;
}
.duty-container .icons{
    width: 2vw;
}
.duty-container .icons:hover{
    transform: scale(1.05);
}

/* Main Container Styling */
.main-container{
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
    height: 80vh;
}
/* sidebar */
aside{
    display: flex;
    flex-direction: column;
    /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; */
    /* gap: var(--gap); */
}
.side-menu{
    display: flex;
    align-items: center;
    padding: 0 var(--padmedium);
    background: rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
    margin-bottom: 0.3rem;
    gap: var(--gap); 
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
}
.last-side-menu{
    margin-bottom: 0;
}
.sidebarimage{
    flex: 0.4;
}
.bold{
    flex: 0.6;
}
.side-menu img{
    max-width: 100%;
}
.side-menu:hover{
    transform: scale(0.95);
    background: linear-gradient(163.92deg, rgba(255, 255, 255, 0.05) 5.34%, rgba(255, 255, 255, 0) 89.63%), rgba(255, 255, 255, 0.05);
}
/* MAIN INFO */
main{
    flex: 1;
}
.dashboardcontent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
    height: 100%;
}
.warrants-container, .order-container{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: var(--padlarge);
    padding-left: var(--padlarge);
    padding-bottom: 0;
    padding-right: var(--padlarge);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.02);
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--padlittle);
    flex: auto;
}
.header img{
    width: 2vw;
}
.header-text{
    display: flex;
    align-items: center;
    gap: var(--gap);
    text-transform: uppercase;
}
.header-text img{
    height: 2vw;
}
.search-input{
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0) 100%);
    border: 1px solid rgba(255, 255, 255, 0.15);
    display: flex;
    align-items: center;
    padding: clamp(7px, 0.2vw, 1rem);
    width: 50%;
}
.search-input:hover{
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 100%);
    border: 1px solid rgba(255, 255, 255, 0.25);
}
.search-input:active{
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%);
    border: 1px solid rgba(255, 255, 255, 0.25);
}
.search-input img{
    width: 1.5vw;
}
.search-input input{
    background: transparent;
    border: none;
    width: 100%;
    font-family: 'Outfit', sans-serif;
    font-size: clamp(14px, 0.9vw, 3rem);
    color: rgba(255, 255, 255, 0.65);
    line-height: 20px;
    font-weight: 500;
    border-left: 1px solid  rgba(255, 255, 255, 0.25);
    padding-left: 0.5rem;
    margin-left: 0.5rem;
}
.search-input input::placeholder{
    font-size: clamp(14px, 0.9vw, 3rem);
    font-weight: 500;
    color: rgba(255, 255, 255, 0.65);
}
.search-input input:focus{
    outline: none;
}
.content{
    flex: 1;
}
.orders, .warrants{
    margin-top: var(--padlittle);
    padding-right: 0.3rem;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    height: 67vh; 
    overflow-y: scroll;
}
.order, .warrant{
    display: flex;
    align-items: center;
    padding: var(--padlittle);
    gap: var(--gap);
}
.order{
    border: 1px solid rgba(241, 51, 51, 0.25);
    background: rgba(241, 51, 51, 0.05);
}
.warrant{
    background: rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
}
.warrant .imagecont{
    min-width: 20%;
    background-image: url(images/darkbg.svg);
    background-size: cover;
    border: 1px solid rgba(255, 255, 255, 0.2);
    aspect-ratio: 1/1;
    display: flex;
    align-content: center;
    padding: 2px;
}
.order .imagecont{
    min-width: 20%;
    background-size: cover;
    background-image: url(images/redbg.svg);
    border: 1px solid rgba(241, 51, 51, 0.3);
    aspect-ratio: 1/1;
    display: flex;
    align-content: center;
    padding: 2px;
}
.warrant-image, .order-image{
    width: 100%;
}
.days-left{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: var(--padlittle);
    background: rgba(255, 255, 255, 0.1);
    font-size: clamp(10px, 0.6vw, 20px);
}
.order-image{
    border: 1px solid rgba(241, 51, 51, 0.25);
}
.suspectname{
    line-height: 120%;
    font-size: var(--fontmedium);
    text-transform: capitalize;
}
.information{
    font-size: var(--fontsmall);
    color: rgba(255, 255, 255, 0.46);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: var(--gap);
    text-transform: uppercase;
}
.status-div{
    display: flex;
}
.statusbtn{
    padding: var(--padlittle);
    cursor: pointer;
}
.statusbtn img{
    height: var(--fontsmall);
}
.statusbtn:hover{
    transform: scale(1.05);
}
.funcBtns{
    padding: var(--padlittle);
    font-family: 'Outfit', sans-serif;
    font-size: var(--fontsmall);
    font-weight: 600;
    margin-right: 0.5rem;
    text-transform: uppercase;
} 
.approve{
    background: rgba(101, 255, 144, 0.25);
    border: 1px solid rgba(101, 255, 144, 0.45);
}
.reject{
    background: rgba(255, 101, 101, 0.25);
    border: 1px solid rgba(255, 101, 101, 0.45);
}
.red{
    color: #F13333;
    border:  1px solid rgba(241, 51, 51, 0.25);
    background: rgba(241, 51, 51, 0.02);
}
.blue{
    color: #63B4FF;
    background: rgba(99, 180, 255, 0.02);
    border: 1px solid rgba(99, 180, 255, 0.25);
}

@media screen and (min-width:1300px) {
    .container{
        width: 90vw;
        margin: auto;
    }
    .days-left{
        padding: var(--padlittle);
    }
    .order, .warrant{
        padding: var(--padmedium);
        gap: var(--gaplarge);
    }
    .imagecont{
        max-width: 20%;
    }
    .days-left{
        padding: var(--padmedium);
    }
}
@media screen and (min-width:1600px) {
    .container{
        width: 85vw;
        margin: auto;
    }
    .funcBtns, .statusbtn{
        padding: var(--padmedium);
    } 
    .days-left{
        padding: var(--padlittle) var(--padmedium);
    }
}
@media screen and (min-width:1800px) {
    .container{
        width: 80vw;
        margin: auto;
    }
}

@media screen and (min-height:1000px) {
    .main-container{
        height: 70vh;
    }
    .warrants, .orders{
        height: 58vh;
    }
}

/* PROFILES STYLING */
.profilescontent{
    background: rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.1);
    height: 100%;
    padding: var(--padlarge) var(--padlarge) 0 var(--padlarge);
}
.profiles-header, .profiles-header-filtering{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.profiles-header-filtering{
    gap: var(--gaplarge);
}
.profiles-header-filters{
    display: flex;
    align-items: center;
    gap: 0.3rem;
}
.profiles-header-filters p{
    flex: 1;
    font-size: var(--fontsmall);
    font-weight: 700;
    text-transform: uppercase;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0.3;
}
.profiles-header-filters p:hover{
    opacity: 0.6;
}
.profiles-header-filters .active{
    opacity: 1;
}
.profiles-filter-all{
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.25);
}
.profiles-filter-wanted{
    background: rgba(241, 51, 51, 0.1);
    border: 1px solid rgba(241, 51, 51, 0.25);
    color: #F13333;
}
.profiles-filter-clean{
    background: rgba(101, 255, 144, 0.1);
    border: 1px solid rgba(101, 255, 144, 0.25);
    color: #65FF90;
}
.profiles-search-input{
    width: 100%;
}